<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssm.dao.UserDao">
    <!-- 自定义返回结果集 -->
    <resultMap id="userMap" type="user">
        <id property="id" column="id" javaType="int"></id>
        <result property="login" column="login" javaType="String"></result>
        <result property="name" column="name" javaType="String"></result>
        <result property="pass" column="pass" javaType="String"></result>
        <result property="sex" column="sex" javaType="String"></result>
        <result property="phone" column="phone" javaType="String"></result>
        <result property="email" column="email" javaType="String"></result>
    </resultMap>
    <select id="getUserById" parameterType="int" resultMap="userMap">
        select * from user where id = #{id}
    </select>
</mapper>